<h1>Resume</h1>
<p><%= @student.experience.start_date%></p>
<p><%= @student.experience.end_date%></p>
<p><%= @student.experience.job_title%></p>
<p><%= @student.experience.company%></p>
<p><%= @student.experience.details%></p>

<p><%= @student.education.start_date%></p>
<p><%= @student.education.end_date%></p>
<p><%= @student.education.degree%></p>
<p><%= @student.education.university%></p>
<p><%= @student.education.detail%></p>

<p><%= @student.skills.each %></p>